################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Organizer/packages
/Organizer/Organizer.Client/bin/Debug
/Organizer/Organizer.Client/obj/Debug
/Organizer/Organizer.Model/bin/Debug
/Organizer/Organizer.Model/obj/Debug
/Organizer/Organizer.Client/bin/x64/Debug
/Organizer/Organizer.Client/obj/x64/Debug
/Organizer/.vs/config/applicationhost.config
/Organizer/Organizer.Tests/obj/Debug
/Organizer/Organizer.Tests/bin/Debug
/Organizer/Organizer.Model/obj/x64/Debug
/Organizer/Organizer.Model/bin/x64/Debug
/Organizer/Organizer.Tests/bin/x64/Debug
/Organizer/Organizer.Tests/obj/x64/Debug
/Organizer/Organizer.Client/bin/Release
/Organizer/Organizer.Client/bin/Release
/Organizer/Organizer.Client/obj/Release
/Organizer/Organizer.Model/bin/Release
/Organizer/Organizer.Model/obj/Release
/Organizer/Organizer.Tests/bin/Release
/Organizer/Organizer.Tests/obj/Release
