<div ng-init="initializeCategories()" class="col-md-12">
    <div id="categories">
        <div data-id="{{category.Id}}" ng-repeat="category in categories" class="col-md-4 card category">
            <div class="list-group-item list-group-item-primary bordered">
                <strong style="font-size: 14px;">{{category.Name}}</strong>
                <span class="fa fa-times text-danger pull-right lead" ng-click="deleteCategory(category, $index)"></span>
            </div>
            <ul class="list-group">
                <li ng-repeat="activity in category.Activities" ng-mouseenter="showicons=true" ng-focus="showicons=true" ng-mouseleave="showicons=false">
                    <input data-id="{{activity.Id}}" type="text" class="form-control list-group-item activity" style="border-radius: 0;" 
                           value="{{activity.Focus}}" ng-model="activity.Name" ng-keydown="showicons=true" ng-focus="activity.Focus"/>
                    <div class="pull-right" ng-show="showicons">
                        <button type="button" class="btn btn-default activity-action" ng-click="deleteActivity(category, $index)" style="right:5px">
                            <span class="fa fa-times"></span>
                        </button>
                        <button type="button" class="btn btn-default activity-action" ng-click="createTodoItem(activity.Id)" style="right:35px;">
                            <span class="fa fa-pencil"></span>
                        </button>
                        <button type="button" class="btn btn-default activity-action" ng-click="saveActivity()" style="right:70px;">
                            <span class="fa fa-floppy-o"></span>
                        </button>
                    </div>
                </li>
            </ul>
            <button type="button" class="list-group-item btn-default text-muted" ng-click="addActivity(category)">
                <span class="fa fa-plus text-info"></span> <span class="text-muted">Add activity</span>
            </button>
        </div>
        <div ng-show="showNewCategory" class="col-md-4 card category">
            <div class="list-group-item list-group-item-primary bordered">
                <div class="input-group">
                    <input id="categoryName" type="text" class="form-control" ng-model="category.name" placeholder="{{constants.categoryName}}" />
                    <span class="input-group-addon btn btn-sm btn-info" ng-click="saveCategory()">Save</span>
                    <span class="input-group-addon btn btn-sm" ng-click="cancelAddingCategory()"><span class="fa fa-times text-danger"></span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <button ng-click="addCategory()" type="button" class="btn btn-default btn-lg">
            <span class="fa fa-plus lead text-info"></span> Add Category
        </button>
    </div>
</div>