<div class="container" ng-init="initTagsReports()">
    <div class="filter">
        <div class="col-md-3">
            <div>
                <select ng-model="tag" class="form-control" ng-change="tagChanged()"
                        ng-options="item.Id as item.Name for item in tags"></select>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <a class="btn btn-default" href="#reports">
                   Activities reports <span class="fa fa-caret-right green"></span>
                </a>
            </div>
        </div>
    </div>

    <div id="chartWrapper">
        <canvas id="myChart"></canvas>
    </div>
</div>