<div class="container" ng-init="initReports()">
    <div class="filter">
        <div class="col-md-3">
            <label>Choose activity group:</label>
            <div>
                <select ng-model="category" class="form-control table-input" ng-change="categoryChanged()"
                        ng-options="item.Id as item.Name for item in categories"></select>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <a class="btn btn-default" href="#reports_tags">
                    View reports for: tags<span class="fa fa-caret-right"></span>
                </a>
            </div>
        </div>
    </div>

    <div>
        <canvas id="myChart"></canvas>
    </div>
</div>