<div id="settings" ng-init="init()" class="panel-bg row">
    <div class="col-md-12">
        <h4>Settings</h4>
        <div class="tabbable">
            <ul class="nav nav-pills nav-stacked col-md-3">
                <li class="active"><a href="#a" data-toggle="tab">Activities</a></li>
            </ul>
            <div class="tab-content col-md-9">
                <div class="tab-pane active" id="a">
                    <table class="table table-bordered table-white">
                        <thead>
                            <tr>
                                <th class="col-md-6">Category</th>
                                <th>Min Hours Per Week</th>
                                <th>Max Hours Per Week</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="test-row" ng-repeat="category in categories" ng-mouseenter="showicons=true" ng-mouseleave="showicons=false">
                                <td>
                                    {{category.Name}}
                                </td>
                                <td>
                                    <input type="text" class="table-input form-control" ng-model="category.MinHoursPerWeek" value="category.MinHoursPerWeek">
                                </td>
                                <td>
                                    <input type="text" class="table-input form-control" ng-model="category.MaxHoursPerWeek" value="category.MaxHoursPerWeek">
                                    <button type="button" class="btn btn-info float-action" ng-show="showicons" ng-click="updateCategory(category)">
                                        <span class="fa fa-floppy-o"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>