<div id="toDoList" ng-init="initializeTodoItems()">
    <div class="col-md-3">
        <select ng-model="filter.category" class="form-control table-input" ng-change="categoryChanged()"
                ng-options="item.Id as item.Name for item in categories">
            <option>All activities</option>
        </select>
    </div>
    <div class="col-md-3">
        <select class="form-control table-input" ng-model="filter.status" ng-change="statusChanged()">
            <option value="0">All</option>
            <option value="1">Active</option>
            <option value="2">Resolved</option>
        </select>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Task description</th>
                <th>Added on</th>
                <th>DEADLINE</th>
                <th>Activity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="test-row">
                <td class="cell-input">
                    <input type="text" class="table-input form-control" placeholder="Description.." ng-model="todoItem.Description"/>
                </td>
                <td class="cell-input" colspan="2">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                            <div class="input-group">
                                <input type="text" class="table-input form-control" data-ng-model="todoItem.Deadline">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="todoItem.Deadline" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" data-on-set-time="onTimeSet(newDate, oldDate)"/>
                        </ul>
                    </div>
                </td>
                <td class="cell-input">
                    <select ng-model="todoItem.ActivityId" class="form-control table-input"
                            ng-options="activityItem.Id as activityItem.Name for activityItem in activityItems">
                    </select>
                </td>
                <td>
                    <button type="button" class="btn btn-info pull-left" ng-click="addTodoItem(1727)"> <span class="fa fa-plus"></span> Todo Item</button>
                </td>
                <td></td>
            </tr>
            <tr ng-repeat="item in todoItems" class="test-row" ng-class="todoItemClass(item)">
                <td><input type="checkbox" ng-model="item.Resolved" ng-change="resolveItem(item.Id)">  {{item.Description}}</td>
                <td>{{item.AddedOn}}</td>
                <td>{{item.Deadline}}</td>
                <td>{{item.Activity}}</td>
                <td>
                    <!--<button type="button" class="btn btn-warning btn-sm">Edit</button>-->
                    <button type="button" class="btn btn-danger btn-sm" ng-click="deleteTodoItem(item.Id)"> <span class="fa fa-times"></span></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>