<div id="todoNotifications" class="dropdown-menu dropdown-menu-large row">
    <div ng-show="expired.length > 0">
        <h4 class="red">Expired items in the last 7 days:</h4>
        <ul>
            <li ng-repeat="item in expired">
                {{item.Description}}.
                Expired on
                <strong ng-bind="item.Deadline | date:'MM/dd/yyyy'"></strong>
                at
                <strong ng-bind="item.Deadline | date:'hh:mm'"></strong>
            </li>
        </ul>
    </div>

    <div ng-show="upcoming.length > 0">
        <h4 class="green">Upcoming in the next 3 days:</h4>
        <ul>
            <li ng-repeat="item in upcoming">
                {{item.Description}}.
                Will expire on
                <strong ng-bind="item.Deadline | date:'MM/dd/yyyy'"></strong>
                at
                <strong ng-bind="item.Deadline | date:'hh:mm'"></strong>
            </li>
        </ul>
    </div>
</div>