<div id="categories" ng-init="initializeCategories()" class="col-md-12">
    <div>
        <div data-id="{{category.Id}}" ng-repeat="category in categories" class="col-md-4 card category">
            <div class="list-group-item list-group-item-primary">
                <strong class="activity-name">{{category.Name}}</strong>
                <span class="fa fa-times text-danger pull-right lead action" ng-click="deleteCategory(category, $index)"></span>
                
                <div class="modal fade-scale" id="categoryDialog{{$index}}" tabindex="-1" role="dialog" aria-labelledby="executionOptionLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" style="width: 550px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <h3 class="modal-title">Update category</h3>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label>MIN productivity (hours per week):</label>
                                        <input type="text" class="table-input form-control" ng-model="category.MinHoursPerWeek" value="category.MinHoursPerWeek" />
                                    </div>
                                    <div class="form-group">
                                        <label>IDEAL productivity (hours per week):</label>
                                        <input type="text" class="table-input form-control" ng-model="category.MaxHoursPerWeek" value="category.MinHoursPerWeek" />
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="updateCategory(category)">Save</button>
                            </div>
                        </div>   
                    </div>
                </div>

                <span class="fa fa-cog text-blue pull-right lead action" data-toggle="modal" data-target="#categoryDialog{{$index}}"></span>
            </div>
            <div class="wrapper">
                <ul class="list-group">
                    <li ng-repeat="activity in category.Activities" ng-mouseenter="showicons=true" ng-focus="showicons=true" ng-mouseleave="showicons=false">
                        <input data-id="{{activity.Id}}" type="text" class="form-control list-group-item activity" style="border-radius: 0;"
                               ng-model="activity.Name" ng-keydown="showicons=true" />
                        <div class="pull-right" ng-show="showicons">
                            <button type="button" class="btn btn-default activity-action label-success" ng-click="deleteActivity(category, $index)" style="right:5px;">
                                <span class="fa fa-times"></span>
                            </button>
                            <button type="button" class="btn btn-default activity-action label-success" ng-click="todoItemDialog(activity)" style="right:35px;">
                                <span class="fa fa-pencil"></span>
                            </button>
                            <button type="button" class="btn btn-default activity-action label-success" ng-click="saveActivity()" style="right:65px;">
                                <span class="fa fa-floppy-o"></span>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
            <button type="button" class="list-group-item btn-default text-muted" ng-click="addActivity(category)">
                <span class="fa fa-plus green"></span> <span class="green">Add activity</span>
            </button>
        </div>
        <div ng-show="showNewCategory" class="col-md-4 card category">
            <div class="list-group-item list-group-item-primary bordered">
                <div class="input-group">
                    <input id="categoryName" type="text" class="form-control" ng-model="category.name" placeholder="{{constants.categoryName}}" />
                    <span class="input-group-addon btn btn-sm btn-info" ng-click="saveCategory()">Save</span>
                    <span class="input-group-addon btn btn-sm" ng-click="cancelAddingCategory()"><span class="fa fa-times text-danger"></span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <button ng-click="addCategory()" type="button" class="btn btn-default btn-lg">
            <span class="fa fa-plus lead text-info"></span> Add Category
        </button>
    </div>
</div>

<div class="modal fade-scale" id="addTodoItemDialog" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">New todo item</h3>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="table-input form-control" placeholder="Description.." ng-model="todoItem.Description" />
                    </div>
                    <div class="form-group">
                        <label>Deadline</label>
                        <div class="datetimepicker-container">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="todoItem.Deadline" is-open="deadlinePicker.opened"
                                       datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                            <div>
                                <div class="timepicker-wrap">
                                    <div uib-timepicker ng-model="deadlineTime" ng-change="deadlineTimeChanged()" hour-step="1" minute-step="5" show-meridian="false"></div>
                                </div>

                                <div class="duration-wrap form-group">
                                    <label>Duration</label>
                                    <input type="text" class="table-input form-control" ng-model="todoItem.Duration" />
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <!--<div class="dropdown">
                            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                                <div class="input-group">
                                    <input type="text" class="table-input form-control" data-ng-model="todoItem.Deadline">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="todoItem.Deadline" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" data-on-set-time="onTimeSet(newDate, oldDate)" />
                            </ul>
                        </div>-->
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="todoItem.Resolved"> <strong>Already resolved</strong>
                        </label>
                    </div>
                    <p id="todoItemMessage" ng-class="todoItemMessage">No overlapping with other work items at: {{todoItem.Deadline | date:'MM/dd/yyyy hh:mm'}}.</p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="initTodoItem(0, true)">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="saveTodoItem()">Save</button>
            </div>
        </div>
    </div>
</div>