<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../content/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../content/css/datetimepicker.css" rel="stylesheet" />
    <link href="../content/css/site.css" rel="stylesheet" />
    <script type="text/javascript" src="../scripts/libraries/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://momentjs.com/downloads/moment.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script type="text/javascript" src="../scripts/libraries/datetimepicker.js"></script>
    <script type="text/javascript" src="../scripts/libraries/datetimepicker.templates.js"></script>
</head>
<body ng-app="ngApp">
    <div>
        <div id="menu" class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="#home">Organizer</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#categories">My activities</a></li>
                    <li><a href="#todos">Todo items</a></li>
                    <li><a href="#reports">Productivity</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#settings">Settings</a></li>
                </ul>
            </div>
        </div>
        <div id="viewContainer" class="container-fluid">
            <div class="col-sm-12" ng-view>

            </div>
        </div>
    </div>
    
    <script>
        $(document).ready(function () {
            appController.showDevTools();
        });

        function addCategory() {
            appController.addDummyCategory();
            loadCategories();
        }

        function loadCategories() {
            $("#categories tbody").html('');
            var categories = appController.getCategories();
            var categoriesJson = JSON.parse(categories);
            for (var i in categoriesJson) {
                var trHTML = "<tr><td>" + categoriesJson[i].Id + "</td><td>" + categoriesJson[i].Name + "</td><td>" + categoriesJson[i].Activities.length + "</td>";
                $("#categories tbody").append(trHTML);
            }
        }
    </script>
    <script src="../scripts/application/app.js"></script>
    <script src="../scripts/application/controllers/categoriesController.js"></script>
    <script src="../scripts/application/controllers/todoItemsController.js"></script>
    <script src="../scripts/application/controllers/settingsController.js"></script>
    <script src="../scripts/application/controllers/reportsController.js"></script>
</body>
</html>