<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../content/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../content/css/datetimepicker.css" rel="stylesheet" />
    <link href="../content/css/site.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.min.css" rel="stylesheet" />


    <link href="../content/css/angular-ui-notification.min.css" rel="stylesheet" />
    
    
    <script type="text/javascript" src="../scripts/libraries/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://momentjs.com/downloads/moment.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script type="text/javascript" src="../scripts/libraries/datetimepicker.js"></script>
    <script type="text/javascript" src="../scripts/libraries/datetimepicker.templates.js"></script>

    <script type="text/javascript" src="../scripts/libraries/calendar.js"></script>
    <!--<script type="text/javascript" src="http://arshaw.com/js/fullcalendar-1.5.3/fullcalendar/gcal.js"></script>-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="../scripts/libraries/angular-ui-notification.js"></script>
</head>
<body ng-app="ngApp">
    <div>
        <div id="menu" class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#categories">Goals</a></li>
                    <li><a href="#todos">Work</a></li>
                    <li><a href="#reports">Productivity</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#settings">Settings</a></li>
                </ul>
            </div>
        </div>
        <div id="viewContainer" class="container-fluid">
            <div class="col-sm-12" ng-view autoscroll="true">

            </div>
        </div>
    </div>
    
    <script src="../scripts/application/app.js"></script>
    <script src="../scripts/application/constants.js"></script>
    <script src="../scripts/application/services/reportsService.js"></script>
    <script src="../scripts/application/controllers/categoriesController.js"></script>
    <script src="../scripts/application/controllers/todoItemsController.js"></script>
    <script src="../scripts/application/controllers/settingsController.js"></script>
    <script src="../scripts/application/controllers/reportsController.js"></script>
    <script src="../scripts/application/directives/tags.js"></script>
</body>
</html>