<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

    <link href="../content/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../content/css/datetimepicker.css" rel="stylesheet" />
    <link href="../content/css/site.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="../content/css/angular-ui-notification.min.css" rel="stylesheet" />
    
    <script type="text/javascript" src="../scripts/libraries/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://momentjs.com/downloads/moment.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.0/ui-bootstrap-tpls.min.js"></script>

    <script type="text/javascript" src="../scripts/libraries/calendar.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="../scripts/libraries/angular-ui-notification.js"></script>
</head>
<body ng-app="ngApp">
    <div ng-app="MainController">
        <div id="menu" class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#categories">
                            <span class="menu-icon fa fa-calendar-check-o"></span> 
                            <span class="menu-text">Goals</span>
                        </a>
                    </li>
                    <li>
                        <a href="#todos">
                            <span class="menu-icon fa fa-tasks"></span> 
                            <span class="menu-text">Work</span>
                        </a>
                    </li>
                    <li>
                        <a href="#calendar">
                            <span class="menu-icon fa fa-calendar"></span>
                            <span class="menu-text">Calendar</span>
                        </a>
                    </li>
                    <li>
                        <a href="#reports">
                            <span class="menu-icon fa fa-bar-chart"></span>
                            <span class="menu-text">Productivity</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="viewContainer" class="container-fluid">
            <div class="col-sm-12" ng-view autoscroll="true">

            </div>
        </div>
    </div>

    <div class="modal fade" id="notification" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title text-center" id="lineModalLabel">{{notification.title}}</h4>
                </div>
                <div class="modal-body">
                    <p>{{notification.message}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.onerror = function (errorMessage, url, lineNumber)
        {
            try {
                throw new Error("get current stack trace");
            } catch (e) {
                stackTrace = e.trace;
                alert(errorMessage);
            }
        };
    </script>
    
    <script src="../scripts/application/app.js"></script>
    <script src="../scripts/application/constants.js"></script>
    <script src="../scripts/application/services/reportsService.js"></script>
    <script src="../scripts/application/services/notificationsService.js"></script>
    <script src="../scripts/application/controllers/categoriesController.js"></script>
    <script src="../scripts/application/controllers/todoItemsController.js"></script>
    <script src="../scripts/application/controllers/reportsController.js"></script>
    <script src="../scripts/application/controllers/calendarController.js"></script>
    <script src="../scripts/application/directives/tags.js"></script>
    <script src="../scripts/application/directives/calendarEvent.js"></script>
</body>
</html>