<div id="toDoList" ng-init="initializeTodoItems()">
    <div class="filter">
        <div class="col-md-3">
            <select ng-model="filter.category" class="form-control table-input" ng-change="categoryChanged()"
                    ng-options="item.Id as item.Name for item in categories">
                <option value="">All activities</option>
            </select>
        </div>
        <!--<div class="col-md-3">
            <select class="form-control table-input" ng-model="filter.resolved" ng-change="statusChanged()">
                <option value="">All</option>
                <option value="false">Active</option>
                <option value="true">Resolved</option>
            </select>
        </div>-->
        <div class="col-md-3">
            <a href="#calendar" class="btn btn-default" style="height: 41px; padding: 10px;">
                <span class="fa fa-calendar"></span>
                View Calendar
            </a>
        </div>
    </div>
    <table class="table table-bordered table-white">
        <thead>
            <tr>
                <th class="col-md-4">Task description</th>
                <th class="col-md-2">DEADLINE</th>
                <th class="col-md-1">Time</th>
                <th class="col-md-1">Duration</th>
                <th class="col-md-2">Activity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="test-row">
                <td class="cell-input">
                    <input type="text" class="table-input form-control" placeholder="Description.." ng-model="todoItem.Description"/>
                </td>
                <td class="cell-input">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="todoItem.Deadline" is-open="deadlinePicker.opened"
                               datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </td>
                <td>
                    <div class="timepicker-wrap">
                        <div uib-timepicker ng-model="deadlineTime" ng-change="deadlineTimeChanged()" hour-step="1" minute-step="5" show-meridian="false"></div>
                    </div>
                </td>
                <td class="cell-input">
                    <input type="text" class="table-input form-control" placeholder="Duration (hours).." ng-model="todoItem.Duration" />
                </td>
                <td class="cell-input">
                    <select ng-model="todoItem.ActivityId" class="form-control table-input"
                            ng-options="activityItem.Id as activityItem.Name for activityItem in activityItems"></select>
                </td>
                <td>
                    <button type="button" class="btn btn-default pull-left" ng-click="addTodoItem(1727)"> <span class="fa fa-plus"></span> Todo Item</button>
                </td>
            </tr>
            <tr ng-repeat="item in todoItems" class="test-row" ng-class="todoItemClass(item)">
                <td><input type="checkbox" ng-model="item.Resolved" ng-change="resolveItem(item.Id)">  {{item.Description}} (<i class="text-muted">{{item.RecurringMode}}</i>)</td>
                <td>
                    <span ng-bind="item.Deadline | date:'MM/dd/yyyy hh:mm'"></span> 
                    (<small ng-bind="item.AddedOn | date:'MM/dd/yyyy'"></small>)
                </td>
                <td>{{item.Duration}}</td>
                <td>{{item.Activity}}</td>
                <td>
                    <div class="modal fade" id="dialogTestDialog{{$index}}" tabindex="-1" role="dialog" aria-labelledby="executionOptionLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" style="width: 800px;">
                            <div class="modal-content" style="margin:0;">
                                <div class="well modal-body">
                                    <span>Notes, resources, links</span>
                                    <textarea ng-model="item.Notes" class="form-control" style="height:200px;"></textarea>
                                    <br />
                                    <div class="tags">
                                        <tag-manager tags="item.Tags" autocomplete="allTags"></tag-manager>
                                        <ul class="list-unstyled">
                                            <li ng-repeat="tag in tags">{{tag}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="updateTodoItem(item)">
                                                Update Info
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" style="margin-right: 5px;" class="btn btn-default btn-sm pull-left" data-toggle="modal" data-target="#dialogTestDialog{{$index}}">
                        <span class="fa fa-ellipsis-h"></span>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm pull-left" ng-click="deleteTodoItem(item.Id)"> <span class="fa fa-times"></span></button>
                    <span ng-show="item.Resolved" class="item-label pull-left"><span class="label label-success">Resolved</span></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>