<div id="toDoList" ng-init="initializeTodoItems()">
    <div class="filter">
        <div class="col-md-3">
            <select ng-model="filter.goal" class="form-control table-input" ng-change="goalChanged()"
                    ng-options="item.Id as item.Name for item in goals">
                <option value="">All activities</option>
            </select>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-default" ng-click="todoItemDialog()" style="height: 41px; padding: 10px;">
                <span class="fa fa-plus"></span>
                Add todo item
            </button>
            <button type="button" class="btn btn-default" ng-click="multipleTodoItemsDialog()" style="height: 41px; padding: 10px;">
                <span class="fa fa-plus"></span>
                Add multiple items
            </button>
        </div>
        <div class="col-md-3">
            <a href="#calendar" class="btn btn-default" style="height: 41px; padding: 10px;">
                <span class="fa fa-calendar"></span>
                View Calendar
            </a>
        </div>
    </div>
    <table class="table table-bordered table-white">
        <thead>
            <tr>
                <th class="col-md-4">Task description</th>
                <th class="col-md-2">DEADLINE</th>
                <th class="col-md-1">Time</th>
                <th class="col-md-1">Duration</th>
                <th class="col-md-2">Activity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in todoItems" class="test-row" ng-class="todoItemClass(item)">
                <td>
                    <input type="checkbox" ng-model="item.Resolved" ng-change="resolveItem(item.Id)">  
                    <span>{{item.Description}} </span>
                </td>
                <td>
                    <span ng-bind="item.Deadline | date:'MM/dd/yyyy hh:mm'"></span> 
                    (<small ng-bind="item.AddedOn | date:'MM/dd/yyyy'"></small>)
                </td>
                <td>{{item.Duration}}</td>
                <td>{{item.Activity}}</td>
                <td colspan="2">
                    <div class="modal fade-scale" id="dialogTestDialog{{$index}}" tabindex="-1" role="dialog" aria-labelledby="executionOptionLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" style="width: 650px;">
                            <div class="modal-content" style="margin:0;">
                                <div class="modal-body">
                                    <span>Notes, resources, links</span>
                                    <textarea ng-model="item.Notes" class="form-control" style="height:270px;"></textarea>
                                    <br />
                                    <div class="tags">
                                        <tag-manager tags="item.Tags" autocomplete="allTags"></tag-manager>
                                        <ul class="list-unstyled">
                                            <li ng-repeat="tag in tags">{{tag}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="updateTodoItem(item)">
                                        Update Info
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" style="margin-right: 5px;" class="btn btn-default btn-sm pull-left" data-toggle="modal" data-target="#dialogTestDialog{{$index}}">
                        <span class="fa fa-ellipsis-h"></span>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm pull-left" ng-click="deleteTodoItem(item.Id)"> <span class="fa fa-times"></span></button>
                    <span ng-show="item.Resolved" class="item-label pull-left"><span class="label label-success">Resolved</span></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<todo-item-dialog activities="activityItems" item="todoItem"/>

<div class="modal fade-scale" id="multipleTodoItemsDialog" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">Multiple todo items</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-4">Task description</th>
                            <th class="col-md-2">DEADLINE</th>
                            <th class="col-md-1">Duration</th>
                            <th class="col-md-2">Activity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in multipleTodoItems" class="test-row">
                            <td class="cell-input">
                                <input type="text" class="table-input form-control" placeholder="Description.." ng-model="item.Description" />
                            </td>
                            <td class="cell-input">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="item.Deadline" is-open="item.PickerOpened"
                                           datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openDatePicker(item)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </td>
                            <td class="cell-input">
                                <input type="text" class="table-input form-control" placeholder="Duration (hours).." ng-model="item.Duration" />
                            </td>
                            <td class="cell-input">
                                <select ng-model="item.ActivityId" class="form-control table-input"
                                        ng-options="activityItem.Id as activityItem.Name for activityItem in activityItems"></select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="initTodoItem(0, true)">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="saveMultipleTodoItems()">Save</button>
            </div>
        </div>
    </div>
</div>