body {
    font-size: 13px;
    color: #666;
    background: url('https://images.template.net/wp-content/uploads/2016/04/22084512/Light-Colored-Wooden-Background.jpg');
    font-family: 'Raleway', sans-serif;
}

.bordered {
    border-bottom: 1px solid #e1e1e1;
}

.btn {
    border-radius: 0 !important;
}

.btn-h {
    height: 42px;
    padding: 10px;
}

.action {
    cursor: pointer;
    font-size: 15px;
}
.action:not(:first-of-type){
    margin-right: 4px;
}

body, html {
    width: 100%;
    height: 100%;
}

.text-blue {
    color: #3434e2;
}

#menu {
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
    #menu * {
        background: #fff;
    }
    #menu li a {
        font-size: 15px;
        text-align: center;
        padding: 9px 15px;
    }
    #menu .menu-icon {
        color: #23AA5A;
        margin-right: 2px;
        font-size: 22px;
        border-radius: 50%;
        min-width: 37px;
    }
    #menu .menu-text {
        display: block;
        margin-top: 4px;
        margin-bottom: -3px;
        font-size: 12px;
    }

.green {
    color: #5aa35a;
}

.red {
    color: #c15252;
}

.badge {
    background-color: #777 !important;
}

.panel-bg {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 4px 7px rgba(0,0,0,.1);
    padding-bottom: 15px;
}

.navbar-right{
    margin-right: 15px !important;
}

.lead {
    margin-bottom: 0 !important;
}

.center {
    margin-top: 50px;
}

.modal-body.well {
    margin-bottom: 0;
    border-bottom: 0;
}

.modal-content {
    border-radius: 0;
    padding: 10px 20px;
}
    .modal-content input[type='text'],
    .modal-content input[type='number'],
    .modal-content input[type='checkbox'],
    .modal-content select,
    .modal-content textare {
        background: #fafafa;
    }

.modal-header {
    padding-bottom: 5px;
    border-bottom: 0;
}

.modal-footer {
    padding: 0;
    border: 0;
}
    .modal-footer .btn {
        width: 140px;
    }
        .modal-footer .btn.btn-default {
            border-color: #4cae4c;
        }

.table-white, .table-white td, .table-white th {
    border: 1px solid #fff !important;
    font-size: 14px;
}

.cell-input {
    padding: 4px !important;
    margin: 0 !important;
}

.table-input {
    border: 1px solid #e1e1e1;
    box-shadow: none;
    margin: 0;
    height: 42px;
    border-radius: 0;
}

.validate-msg {
    color: #bd3434;
    font-size: 13px;
}

/* ------- goals STYLES -------- */

.card {
    width: 22%;
    margin-bottom: 41px;
    background: #fafafa;
    padding: 0;
    box-shadow: 2px 10px 10px rgba(0,0,0,.1);
}
    .card:not(:nth-of-type(4n)) {
        margin-right: 41px !important;
    }
    .card .wrapper {
        height:230px;
        overflow-y: auto;
    }

.placeholder {
    border: 1px solid #aaa;
    background-color: white;
    opacity: 0.5;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
    height: 284px;
}

.list-group {
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
    height: 210px;
}

.list-group-item {
    padding: 7px 15px;
    border-bottom: 1px solid #ccc;
    border: 0;
}

.list-group > li:first-of-type input {
    border-top: 1px solid #cacaca;
}

button.list-group-item {
    border-top: 1px solid #e1e1e1;
    background: #e9fbf5 !important;
    color: rgb(36, 200, 147) !important;
}

.list-group-item.list-group-item-primary {
    background: rgb(92,184,92);
    border-radius: 0;
    padding: 9px 15px;
}

#newGoal .list-group-item.list-group-item-primary {
    background: #fff;
    padding: 5px;
}
.activity-name {
    font-size: 14px;
    color: #fff;
}

.activity-action {
    cursor: pointer;
    padding: 1px 6px;
    position: relative;
    margin-top: -30px;
    display: inline-block;
    background: rgb(92,184,92) !important;
    float: right;
    color: #fff;
    font-weight: normal;
    border: 1px solid #e1e1e1;
}

.timepicker-wrap {
    display: inline-block;
    float: left;
}

.duration-wrap {
    display: inline-block;
    float: left;
    margin-bottom: 0;
    margin-left: 35px;
    margin-top: 11px;
}

#todoItemMessage {
    margin: 10px 0;
    font-size: 16px;
    word-break: break-word;
    word-wrap: break-word;
}

/* ------- END:goals STYLES -------- */

/* ------- TAGS STYLES ------- */

#toDoList {
    background: rgba(255, 255, 255, 0.5);
    margin: 0 20px;
}
.tags {
   margin-bottom: 5px;
} 

.tags .tag {
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
    font-weight: normal;
    border-radius: 0;
}
  
.tag .close {
    font-size: 16px;
    margin-left: 5px;
    color: #fff;
    opacity: 0.8;
}

/* ------- END:TAGS STYLES -------- */

#viewContainer {
    margin-top: 100px;
    padding-right: 15px;
    padding-left: 0;
}

.float-action {
    float: right;
    position: absolute;
    right: 22px;
    margin-top: -38px;
    border-radius: 0;
}

.filter {
    padding: 10px 9px;
    height: auto;
    overflow: auto;
}
    .filter > div {
        padding: 0;
    }
        .filter > div:not(:last-child) {
            margin-right: 8px;
        }

.item-label {
    margin: 0 4px;
    font-size: 16px;
    margin-top: 4px;
}
.item-label > .label{
    font-size: 14px;
    padding: 7px 5px;
    border-radius: 0;
}

.ui-autocomplete{
    z-index: 1101 !important;
}

/* Calendar override: */
.fc td, .fc th {
    background-color: rgba(255,255,255,0.2);
}

.fc th {
    padding: 9px 0 !important;
}

.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-color: #fff !important;
}

.tooltip {
    position: fixed;
    z-index: 2010 !important;
}

.fc-event {
    border-radius: 0 !important;
}

.no-data {
    color: #fff;
    font-size: 30px;
    margin-top: 30px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.reports {
    margin: 0 25px;
}

#goals {
    margin: 20px 0;
}

.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}

#todoNotifications {
    width: 450px;
    padding: 20px;
}
    #todoNotifications ul {
        list-style: none;
        padding-left: 27px;
    }
        #todoNotifications ul li {
            color: #888;
            margin-bottom: 3px;
        }

.color-picker input {
    width: 350px;
    height: 41px;
    box-shadow: none;
    border: 1px solid #e1e1e1;
}