body {
    font-size: 13px;
    color: #444;
    background: url('https://images.template.net/wp-content/uploads/2016/04/22084512/Light-Colored-Wooden-Background.jpg');
}

.bordered {
    border-bottom: 1px solid #e1e1e1;
}

.resolved {
    background: rgba(255, 255, 255, 0.3) !important;
}

.btn {
    border-radius: 0 !important;
}

.btn-h {
    height: 41px;
}

body, html {
    width: 100%;
    height: 100%;
}

#menu {
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
    #menu * {
        background: #fff;
    }
    #menu li a {
        font-size: 15px;
    }
    #menu .menu-icon {
        color: #21b384;
        margin-right: 2px;
        font-size: 18px;
    }

.green {
    color: #21b384;
}

.panel-bg {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 4px 7px rgba(0,0,0,.1);
    padding-bottom: 15px;
}

.navbar-right{
    margin-right: 15px !important;
}

.lead {
    margin-bottom: 0 !important;
}

.center {
    margin-top: 50px;
}

.modal-body.well {
    margin-bottom: 0;
    border-bottom: 0;
}

.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
    padding: 0;
}
    .modal-footer .btn-group button {
        height: 40px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border: none;
        border-right: 1px solid #ddd;
    }
    .modal-footer .btn-group:last-child > button {
        border-right: 0;
    }

.table-white, .table-white td, .table-white th {
    border: 1px solid #fff !important;
    font-size: 14px;
}

.cell-input {
    padding: 4px !important;
    margin: 0 !important;
}

.table-input {
    border: 1px solid #e1e1e1;
    box-shadow: none;
    margin: 0;
    height: 42px;
    border-radius: 0;
}

/* ------- CATEGORIES STYLES -------- */

.card {
    width: 30%;
    margin-bottom: 60px;
    background: rgba(255, 255, 255, 0.8);
    padding: 0;
    box-shadow: 2px 4px 7px rgba(0,0,0,.1);
}
    .card:not(:nth-of-type(3n)) {
        margin-right: 60px !important;
    }
    .card .wrapper {
        height:230px;
        overflow-y: auto;
    }

.placeholder {
    border: 1px solid #aaa;
    background-color: white;
    opacity: 0.5;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
    height: 284px;
}

.list-group {
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
    height: 210px;
}

.list-group-item {
    padding: 7px 15px;
    border-bottom: 1px solid #ccc;
    border: 0;
}

.list-group > li:first-of-type input {
    border-top: 1px solid #cacaca;
}

button.list-group-item {
    background: #fafafa;
    /*border-top: 1px solid #e1e1e1;*/
}

.activity-action {
    cursor: pointer;
    padding: 1px 6px;
    
    /*position: absolute;
    margin-top: -28px;*/
    
    position: relative;
    margin-top: -30px;
    display: inline-block;
    float: right;
    color: #fff;
    font-weight: normal;
    border: 1px solid #e1e1e1;
}

.timepicker-wrap {
    display: inline-block;
}

#todoItemMessage {
    display: inline-block;
    float: right;
    margin-top: 30px;
    margin-right: 13px;
    font-size: 16px;
    word-break: break-word;
    word-wrap: break-word;
}

/* ------- END:CATEGORIES STYLES -------- */

/* ------- TAGS STYLES ------- */

#toDoList {
    background: rgba(255, 255, 255, 0.5);
    margin: 0 40px;
}
.tags {
   margin-bottom: 5px;
} 

.tags .tag {
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
    font-weight: normal;
    border-radius: 0;
}
  
.tag .close {
    font-size: 16px;
    margin-left: 5px;
    color: #fff;
    opacity: 0.8;
}

/* ------- END:TAGS STYLES -------- */

#viewContainer {
    margin-top: 100px;
}

.float-action {
    float: right;
    position: absolute;
    right: 22px;
    margin-top: -38px;
    border-radius: 0;
}

.filter {
    padding: 10px 9px;
    height: auto;
    overflow: auto;
}
    .filter > div {
        padding: 0;
    }
        .filter > div:not(:last-child) {
            margin-right: 8px;
        }

.item-label {
    margin: 0 4px;
    font-size: 16px;
    margin-top: 4px;
}
.item-label > .label{
    font-size: 14px;
    padding: 7px 5px;
    border-radius: 0;
}

.ui-autocomplete{
    z-index: 1101 !important;
}

/* Calendar override: */
.fc td, .fc th {
    background-color: rgba(255,255,255,0.2);
}

.fc th {
    padding: 9px 0 !important;
}

.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-color: #fff !important;
}

.tooltip {
    position: fixed;
    z-index: 2010 !important;
}