body {
    font-size: 13px;
    color: #444;
    background: url('https://images.template.net/wp-content/uploads/2016/04/22084512/Light-Colored-Wooden-Background.jpg');
}

.card {
    width: 30%;
    margin-bottom: 60px;
    background: #fff;
    padding: 0;
    box-shadow: 2px 4px 7px rgba(0,0,0,.1);
}
    .card:not(:nth-of-type(3n)) {
        margin-right: 60px !important;
    }

.list-group {
    margin-bottom: 0;
}

#menu {
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
    #menu * {
        background: #fff;
    }
    #menu li a, .navbar-brand {
        padding-top: 20px;
        padding-bottom: 20px;
        color: #333;
    }
    #menu li a {
        font-size: 15px;
    }

#toDoList {
    background: rgba(255, 255, 255, 0.5);
    margin: 0 40px;
}

.placeholder {
    border: 1px solid #aaa;
    background-color: white;
    opacity: 0.5;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
    height: 284px;
}

table, td, th {
    border: 1px solid #fff !important;
    font-size: 14px;
}

#viewContainer {
    margin-top: 100px;
}

.cell-input {
    padding: 4px !important;
    margin: 0 !important;
}

.table-input {
    border: 1px solid #e1e1e1;
    box-shadow: none;
    margin: 0;
    height: 42px;
    border-radius: 0;
}

.list-group {
    display: inline-block;
    width: 100%;
    height: 210px;
    overflow-y: auto;
}

.list-group-item {
    padding: 7px 15px;
    border: 1px solid #eee;
}

button.list-group-item {
    background: #fafafa;
    border-top: 1px solid #e1e1e1;
}

body, html {
    width: 100%;
    height: 100%;
}
